<div class="container-fluid">
<div class="p-3 mb-2 bg-info text-dark">
<h1 >Marios Products</h1>

  <h2>Products of the USA</h2>
    <% if @products.united_states.any? %>
    <ul>
          <% @products.united_states.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
              <% end %>
            </ul>
          <% else %>
        <p>There are no products from the USA yet.</p>
          <% end %>
        <h2>Recently Updated Products</h2>
    <% if @products.recent_products.any? %>
    <ul>
          <% @products.recent_products.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
              <% end %>
            </ul>
          <% else %>
        <p>There are no recent products yet.</p>
          <% end %>
        <h2>Most Reviewed Products</h2>
    <% if @products.review_ratings.any? %>
    <ul>
          <% @products.review_ratings.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
              <% end %>
            </ul>
          <% else %>
        <p>There are no reviewed products yet.</p>
          <% end %>

          <% if user_signed_in? %>
          <button type="button" class="btn btn-default"><%= link_to current_user.email, edit_user_registration_path %></button>
          <button type="button" class="btn btn-default"><%= link_to "Log out", destroy_user_session_path, method: :delete %></button>
          <button type="button" class="btn btn-default"><%= link_to "Change your password", edit_user_registration_path %></button>
        <% else %>
        <button type="button" class="btn btn-default"><%= link_to "Log in", new_user_session_path %></button>
        <button type="button" class="btn btn-default"><%= link_to "Register", new_user_registration_path %></button>
        <% end %>
          <% if current_user && current_user.admin %>
<button type="button" class="btn btn-default"><%= link_to "Create new product", new_product_path %></button>
<% end %>

<button type="button" class="btn btn-success"><%= link_to "View all products", products_path %></button>
</div>
</div>