<div class="container-fluid">
<div class="p-3 mb-2 bg-info text-dark">
<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <h2>Products</h2>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>
<% if user_signed_in? %>
<button type="button" class="btn btn-default"><%= link_to current_user.email, edit_user_registration_path %></button>
<button type="button" class="btn btn-default"><%= link_to "Log out", destroy_user_session_path, method: :delete %></button>
<button type="button" class="btn btn-default"><%= link_to "Change your password", edit_user_registration_path %></button>
<% else %>
<button type="button" class="btn btn-default"><%= link_to "Log in", new_user_session_path %></button>
<button type="button" class="btn btn-default"><%= link_to "Register", new_user_registration_path %></button>
<% end %>
<% if current_user && current_user.admin %>
<button type="button" class="btn btn-default"><%= link_to "Create new product", new_product_path %></button>
<% end %>
<button type="button" class="btn btn-success"><%= link_to "Go to Homepage", root_path %></button>
</div>
</div>